<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  <link rel="stylesheet" 
          href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Document</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" th:fragment="header">
		<a class="navbar-brand" th:href="@{/}">CRUD</a>
	</nav>
	<nav class="navbar navbar-dark bg-dark" th:fragment="header-index">
		<a class="navbar-brand" th:href="@{/}">CRUD</a>
		<ul class="nav">
			<li class="nav-item p-2" th:unless="${#authorization.expression('isAuthenticated()')}">
				<a class="btn btn-primary" th:href="@{/iniciarSesion}"> Iniciar Sesion</a>
			</li>
			<li class="nav-item p-2" th:if="${#authorization.expression('isAuthenticated()')}">
				<form th:action="@{/cerrarSesion}" method="post">
				<button type="submit" class="btn btn-primary">Cerrar Sesion</button>
				</form>
			</li>
		</ul>
	</nav>
</body>
</html>