<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" 
          href="webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"/>
	<title>Principal</title>
</head>
<body>
	<nav th:replace="fragments/header :: header-index">></nav>
	<div class="container">
		<ul class="nav justify-content-end">
			<li class="nav-item p-2">
				<a class="btn btn-success" th:href="@{/agregarEmpleado}"> Agregar Empleado</a>
			</li>
			<li class="nav-item p-2">
				<a class="btn btn-warning" th:href="@{/actualizarEmpleado}"> Actualizar Empleado</a>
			</li>
			<li class="nav-item p-2">
				<a class="btn btn-danger" th:href="@{/eliminarEmpleado}"> Eliminar Empleado</a>
			</li>
		</ul>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Nombre</th>
							<th scope="col">Apellido</th>
							<th scope="col">Edad</th>
							<th scope="col">Sueldo</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="empleado:${empleados}">
							<td th:text="${empleado.nombre}">
							<td th:text="${empleado.apellido}">
							<td th:text="${empleado.edad}">
							<td th:text="${empleado.sueldo}">
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>