<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  <link rel="stylesheet" 
          href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Iniciar Sesion</title>
</head>
<body>
	<nav th:replace="fragments/header :: header">></nav>
 	<div class="container">
 		<div class="row">
 			<div class="col">
 				<form th:action="@{/iniciarSesion}" method="post">
                    <div class="form-group">
                        <input type="text" name="username" id="username" class="form-control input-lg" />
                        <input type="password" name="password" id="password" class="form-control input-lg"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Ingresar</button>               
	</form>
 			</div>
 		</div>
	</div>
    
</body>
</html>